{% extends "html/base.html" %}

{% block content %}
    <div class="card mb-3 profile-card" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                {% if image %}
                    <img src="{{ url_for('static', filename=image) }}" class="img-fluid rounded-start profile-card-img"
                         alt="Упс... Что-то пошло не так!">
                {% else %}
                    <img src="{{ url_for('static', filename='/images/avatars/no_avatar.png') }}"
                         class="img-fluid rounded-start profile-card-img" alt="Упс... Что-то пошло не так!">
                {% endif %}
            </div>
        <div class="col-md-8 profile-card-info">
            <div class="card-body">
                <h5 class="card-title">{{ params.surname }} {{ params.name }}</h5>
                <div class="card-text">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Почта</b> - {{ params.email }}</li>
                        <li class="list-group-item"><b>Пол</b> - {{ params.sex }}</li>
                        <li class="list-group-item"><b>Обучение</b> - {{ params.studying }}</li>
                        <li class="list-group-item"><b>Специализация</b> - {{ params.professions.lower().capitalize() }}</li>
                        <li class="list-group-item"><b>О себе</b> - {{ params.about }}</li>
                    </ul>
                </div>
                <p class="card-text"><small class="text-muted"><b>Дата регистрации</b> - {{ params.created_date }}</small></p>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
