{% extends "html/base.html" %}

{% block content %}
    <div class="card-body-title">
        <div class="alert alert-info" role="alert" id="greeting">
            <h3>Привет, {{ params.name }}!</h3>
        </div>
    </div>
    <div class="card-body">
        <div class="profile-img">
            <!img src="https://www.netclipart.com/pp/m/262-2627137_anime-clipart-profile-anime-girl-with-a-welcome.png" alt="тут должна быть картинка приветствия, но её почему-то нет 🤷‍♂">
        </div>
        <div class="profile-block">
            <div class="info">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Имя</b> - {{ params.name }}</li>
                    <li class="list-group-item"><b>Фамилия</b> - {{ params.surname }}</li>
                    <li class="list-group-item"><b>Почта</b> - {{ params.email }}</li>
                    <li class="list-group-item"><b>Пол</b> - {{ params.sex }}</li>
                    <li class="list-group-item"><b>О себе</b> - {{ params.about }}</li>
                    <li class="list-group-item"><b>Обучение</b> - {{ params.studying }}</li>
                    <li class="list-group-item"><b>Специализация</b> - {{ params.professions.lower().capitalize() }}</li>
                    <li class="list-group-item"><b>Дата регистрации</b> - {{ params.created_date }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
