{% extends "html/base.html" %}

{% block content %}
    <div class="card-body-title">
        <h3>Форма для добавления работы</h3>
    </div>
    <div class="registration-form">
        <div class="card border-info">
            <div class="card-body">
                <form class="row g-3" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div>
                        {{ form.csrf_token }}
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-6" id="job_title">
                        <label for="job_title" class="form-label" id="job_title"><b>Название работы</b><font color="red">*</font></label>
                        {{ form.job_title(class="form-control") }}
                        {% for error in form.errors.job_title %}
                            <small class="form-text text-muted ">
                                <font color="red">{{ ''.join(error) }}</font>
                            </small>
                         {% endfor %}
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-6" id="job_describe">
                        <label for="job_describe" class="form-label" id="job_describe"><b>Описание работы</b></label>
                        {{ form.job_describe(class="form-control") }}
                        {% for error in form.errors.job_describe %}
                            <small class="form-text text-muted ">
                                <font color="red">{{ ''.join(error) }}</font>
                            </small>
                         {% endfor %}
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-6" id="team_leader_id">
                        <label for="team_leader_id" class="form-label"><b>ID тим-лида</b><font color="red">*</font></label>
                        {{ form.team_leader_id(class="form-control") }}
                        {% for error in form.errors.team_leader_id %}
                            <small class="form-text text-muted ">
                                <font color="red">{{ ''.join(error) }}</font>
                            </small>
                         {% endfor %}
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-6" id="work_size">
                        <label for="work_size" class="form-label"><b>Объём работы (в часах)</b><font color="red">*</font></label>
                        {{ form.work_size(class="form-control") }}
                        {% for error in form.errors.work_size %}
                            <small class="form-text text-muted ">
                                <font color="red">{{ ''.join(error) }}</font>
                            </small>
                         {% endfor %}
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-6" id="collaborators">
                        <label for="collaborators" class="form-label"><b>Сотрудники</b><font color="red">*</font></label>
                        {{ form.collaborators(class="form-control") }}
                        {% for error in form.errors.collaborators %}
                            <small class="form-text text-muted ">
                                <font color="red">{{ ''.join(error) }}</font>
                            </small>
                         {% endfor %}
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-6" id="start_date">
                        <label for="start_date" class="form-label"><b>Начало работ</b><font color="red">*</font></label>
                        {{ form.start_date(class="form-control") }}
                        {% for error in form.errors.start_date %}
                            <small class="form-text text-muted ">
                                <font color="red">{{ ''.join(error) }}</font>
                            </small>
                         {% endfor %}
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-6" id="end_date">
                        <label for="end_date" class="form-label"><b>Окончание работ</b></label>
                        {{ form.end_date(class="form-control") }}
                        {% for error in form.errors.end_date %}
                            <small class="form-text text-muted ">
                                <font color="red">{{ ''.join(error) }}</font>
                            </small>
                         {% endfor %}
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-6">
                        <div class="form-check">
                            {{ form.is_finished(class="form-check-input") }}
                            <label class="form-check-label" for="is_finished">
                            <b>Работа окончена?</b>
                            </label>
                            {% for error in form.errors.is_finished %}
                                <small class="form-text text-muted ">
                                    <font color="red">{{ ''.join(error) }}</font>
                                </small>
                            {% endfor %}
                        </div>
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-6">                                                                                               <!--Соглашение-->
                        <button type="submit" class="btn btn-primary">Записаться</button>
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3">
                        {{ message }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
