{% extends "html/base.html" %}

{% block content %}
    <div class="startpage">
        <div class="card border-info">
            <div class="card-body " id="index-page">
                <h5 class="card-title">Обновления на сайте!</h5>
                <p class="card-text">Мы добавили регистрацию, а также авторизацию при заходе в свой профиль!
                    Каждому новому участнику мы присваиваем индивидуальные ID-номера, которые в скором времени
                    будут распределены по категориям, комнатам и т.д. Проект развивается!
                    <br> <b>Да здравствует Красная Планета!</b></p>
                <p class="card-text"><small class="text-muted">19 февраля 2022</small></p>
            </div>
            <img src="https://www.thoughtco.com/thmb/GhGNwR4UEcFbNEJTruXBjoJXs70=/2000x1500/filters:fill(auto,1)/GettyImages-908200362-5c721e2d46e0fb00014ef605.jpg" class="card-img-bottom"
                 alt="Тут должен быть Марс, но он исчез. Миссия отменяется :(....">
        </div>
        <div class="card border-info">
            <div class="card-body " id="index-page">
                <h5 class="card-title">Миссия - КОЛОНИЗАЦИЯ МАРСА</h5>
                <p class="card-text">Илон Маск собирает экспедицию по колонизации Марса к 2024 году.
                    Мы взялись помочь ему, так что набираем добровольцев, готовых лететь туда и составлять договор
                    о межпланетном союзе с марсианинами!
                    <br><b>Да здравствует Красная Планета!</b></p>
                <p class="card-text"><small class="text-muted">17 февраля 2022</small></p>
            </div>
            <img src="https://s0.rbk.ru/v6_top_pics/media/img/7/27/756167689781277.jpg" class="card-img-bottom"
                 alt="Тут должен быть Марс, но он исчез. Миссия отменяется :(....">
        </div>
    </div>
{% endblock %}