{% extends "html/base.html" %}

{% block content %}
    <div class="startpage row g-3">
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
        <div class="col-md-3">
            <div class="news-index-page-title">
                <h2>Новости</h2>
            </div>
            <div class="card border-danger news-index-page">
                <div class="card-body">
                    <h5 class="card-title news-title">Илон Маск любит аниме!!!</h5>

                    <p class="card-text news-text"><small><b>Илон Маск</b> в своём Твиттере рассказал, что ему нравится аниме <b>“Твоё имя”</b>,
                        а потом написал еще несколько твитов про <b>“Евангелион”</b>, мехи и Studio Ghibli.
                        Анимешники зачислили основателя SpaceX и Tesla в свои ряды и требуют от него <b>кошко-девочек!</b></small>
                    </p>
                    <p class="card-text"><small class="text-muted">6 марта 2022</small></p>
                </div>
                <img src="{{ elon_musk_loves_anime }}" alt="О нет, Илон Маск пропал!">
            </div>
            <div class="card border-danger news-index-page">
                <div class="card-body">
                    <h5 class="card-title news-title">Обновления на сайте!</h5>
                    <p class="card-text news-text"><small>Мы добавили регистрацию, а также авторизацию при заходе в свой профиль!
                        Каждому новому участнику мы присваиваем индивидуальные ID-номера, которые в скором времени
                        будут распределены по категориям, комнатам и т.д. Проект развивается!
                        <br> <b>Да здравствует Красная Планета!</b></small></p>
                    <p class="card-text"><small class="text-muted">19 февраля 2022</small></p>
                </div>
                <img src="https://www.thoughtco.com/thmb/GhGNwR4UEcFbNEJTruXBjoJXs70=/2000x1500/filters:fill(auto,1)/GettyImages-908200362-5c721e2d46e0fb00014ef605.jpg" class="card-img-bottom"
                     alt="Тут должен быть Марс, но он исчез. Миссия отменяется :(....">
            </div>
        </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
        <div class="col-md-6">
            <div class="text-index-page-title">
                <h2>Наши цели и интересы</h2>
            </div>
            <div class="card border-info text-index-page">
            <div class="card-body " id="index-page">
                <h5 class="card-title">Миссия - КОЛОНИЗАЦИЯ МАРСА</h5>
                <p class="card-text">Илон Маск собирает экспедицию по колонизации Марса к 2024 году.
                    Мы взялись помочь ему, так что набираем добровольцев, готовых лететь туда и составлять договор
                    о межпланетном союзе с марсианинами!
                    <br><b>Да здравствует Красная Планета!</b></p>
                <p class="card-text"><small class="text-muted">17 февраля 2022</small></p>
            </div>
            <img src="https://lifeboat.com/blog.images/these-stunning-designs-show-what-our-future-on-mars-might-look-like.jpg" class="card-img-bottom"
                 alt="Тут должен быть Марс, но он исчез. Миссия отменяется :(....">
        </div>
        </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
        <div class="col-md-3">
            <div class="news-index-page-title">
                <h2>Не новости</h2>
            </div>
            <div>
                Тут будут не новости!
            </div>
        </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
    </div>
{% endblock %}