{% extends "html/base.html" %}

{% block content %}
    <div class="card-body-title registration-form-card-title">
        <h3>Форма для регистрации в суперсекретной системе</h3>
    </div>
    <div class="registration-form">
        <div class="card border-info registration-form-card">
            <div class="card-body">
                <form class="row g-3" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div>
                        {{ form.csrf_token }}
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="surname">
                        <label for="surname" class="form-label" id="surname"><b>Фамилия</b><font color="red">*</font></label>
                        {{ form.surname(class="form-control") }}
                        {% for error in form.errors.surname %}
                            <small class="form-text text-muted ">
                                <font color="red">{{ ''.join(error) }}</font>
                            </small>
                         {% endfor %}
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="name">
                        <label for="name" class="form-label"><b>Имя</b><font color="red">*</font></label>
                        {{ form.name(class="form-control") }}
                         {% for error in form.errors.name %}
                            <small class="form-text text-muted ">
                                <font color="red">{{ ''.join(error) }}</font>
                            </small>
                         {% endfor %}
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="email">
                        <label for="email" class="form-label"><b>Почта</b><font color="red">*</font></label>
                        {{ form.email(class="form-control") }}
                        {% if email_exist %}
                            <small class="form-text text-muted ">
                                <font color="red">{{ email_exist }}</font>
                            </small>
                        {% endif %}

                        {% for error in form.errors.email %}
                            <small class="form-text text-muted ">
                                <font color="red">{{ ''.join(error) }} {{ email_exist }}</font>
                            </small>
                         {% endfor %}
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="email">
                        <label for="password" class="form-label"><b>Пароль</b><font color="red">*</font></label>
                        {{ form.password(class="form-control") }}
                        {% for error in form.errors.password %}
                            <small class="form-text text-muted ">
                                <font color="red">{{ ''.join(error) }}</font>
                            </small>
                         {% endfor %}
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <fieldset class="col-md-3" id="sex">
                        <label><b>Укажите пол</b><font color="red">*</font></label>
                        {{ form.sex(class="form-check") }}
                        {% for error in form.errors.sex %}
                            <small class="form-text text-muted ">
                                <font color="red">{{ ''.join(error) }}</font>
                            </small>
                         {% endfor %}
                    </fieldset>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-3" id="studying">
                        <label for="studying" class="form-label"><b>Образование</b><font color="red">*</font></label>
                        <br>
                        {{ form.studying(class="form-select") }}
                        {% for error in form.errors.studying %}
                            <small class="form-text text-muted ">
                                <font color="red">{{ ''.join(error) }}</font>
                            </small>
                         {% endfor %}
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-6">
                        <div class="select-label">
                            <label class="form-label"><b>Выберите свою специализацию</b></label>
                        </div>
                        <div class="form-check">
                            {{ form.engineer(class="form-check-input")}}
                            <label class="form-check-label" for="engineer">
                            Инженер (человек, умеющий настраивать Wi-Fi)
                            </label>
                        </div>
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-6">
                        <div class="form-check">
                            {{ form.pilot(class="form-check-input")}}
                            <label class="form-check-label" for="pilot">
                            Пилот (человек, умеющий отличать газ от тормоза)
                            </label>
                        </div>
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-6">
                        <div class="form-check">
                            {{ form.builder(class="form-check-input")}}
                            <label class="form-check-label" for="builder">
                            Строитель (человек, знающий как надо построить ферму и чтобы её не снесло как в "Марсианине")
                            </label>
                        </div>
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-6">
                        <div class="form-check">
                            {{ form.coolman(class="form-check-input")}}
                            <label class="form-check-label" for="coolman">
                            Серьёзный дядька, делающий вид, что чем-то занимается
                            </label>
                        </div>
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-6">
                        <div class="form-check">
                            {{ form.fatman(class="form-check-input")}}
                            <label class="form-check-label" for="fatman">
                            Весёлый дядька, который подчищает запасы провизии
                            </label>
                        </div>
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-6">
                        <div class="form-check">
                            {{ form.instagirl(class="form-check-input")}}
                            <label class="form-check-label" for="instagirl">
                            Инстасамка (ну тут и так всё понятно)
                            </label>
                        </div>
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-6">
                        <div class="form-check">
                            {{ form.chemist(class="form-check-input")}}
                            <label class="form-check-label" for="chemist">
                            Химик (желательно грамотный и без приколов)
                            </label>
                        </div>
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-6">
                        <div class="form-check">
                            {{ form.doctor(class="form-check-input")}}
                            <label class="form-check-label" for="doctor">
                            Доктор (человек, умеющий клеить пластыри на скафандр и обрабатывать вмятины зелёнкой)
                            </label>
                        </div>
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-6">
                        <div class="select-label">
                            <label for="about"><b>Расскажите, почему Вы решили лететь на Марс? Одумайтесь, пока не поздно...</b></label>
                            {{ form.text(class="form-control") }}
                        </div>
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-6">
                        <div class="form-check">
                            {{ form.accept(class="form-check-input") }}
                            <label class="form-check-label" for="accept">
                            <b>Готовы остаться на Марсе? Ответственность за свою жизнь несёте Вы, мы просто трансфер! Не факт, что вернёмся за Вами</b><font color="red">*</font>
                            </label>
                            {% for error in form.errors.accept %}
                                <small class="form-text text-muted ">
                                    <font color="red">{{ ''.join(error) }}</font>
                                </small>
                            {% endfor %}
                        </div>
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3" id="nothing">
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-6">                                                                                               <!--Соглашение-->
                        <button type="submit" class="btn btn-primary">Записаться</button>
                    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="col-md-3">
                        {{ message }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
