.navbar-brand {
    alignment: center;
    padding-left: 20px;
    padding-right: 20px;
}

.index {
    alignment: right;
    padding-left: 20px;
}

.list_profs {
    alignment: right;
    padding-left: 20px;
}

.back {
    alignment: left;
    padding-right: 20px;
}